<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
     .container { 
       width : 550px;
       height: 250px;
       border: 5px solid black;
       margin : 0 auto ;
     }
    </style>
    <style src=".\bootstrap.css"></style>
</head>
<body>
    <script type="javascript" src=".\bootstrap.js"></script>
    <div class="container">
        {{!-- <h3><center><font color:"red">index:</font></center></h3> --}}
    <h4> INDEX :{{index}}</h4>
    
 <h4>HASH:{{hash}}</h4>
  <h4>DATA : {{data}}</h4>
   <h4> PREHASH:{{prehash}}</h4>
    <h4>TIME:{{timestamp}}</h4>
     </div>
</body>
</html>